@font-face {
    font-family: CaveatBold;
    src: url("../fonts/Caveat-Bold.ttf");
}

@font-face {
    font-family: IBMPlexSans;
    src: url("../fonts/IBMPlexSans.otf");
}

@font-face {
    font-family: IBMPlexSansMedium;
    src: url("../fonts/IBMPlexSans-Medium.otf");
}

.hide {
    display: none;
}

body {
    background: #f5f5f5;
    font-family: IBMPlexSansMedium, sans-serif;
    font-size: 14px;
}

body .page-detail {
    background: #fff;
    min-height: 100vh;
}

body .page-detail > .row {
    min-height: 100vh;
}

body.login.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#app {
    width: 100%;
    height: 100vh;
}

#app .container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 600px;
    position: static;
}

#app .container .content {
    padding-top: 20px;
}

#app .container .content:first-child .panel.login-form {
    background: #fff;
    margin: 0 auto 20px auto;
    width: 340px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
}

#app .container .content:first-child .panel.login-form .text-center .user-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #646464;
    color: #90a4ae;
    margin-bottom: 25px;
}

#app .container .content:first-child .panel.login-form .text-center .user-icon img {
    width: 100%;
}

#app .container .content:first-child .panel.login-form .text-center .content-group {
    font-size: 17px;
    color: #333;
    font-weight: 400;
    letter-spacing: -.015em;
    line-height: 1.5384616;
}

#app .container .content:first-child .panel.login-form .text-center .content-group small.display-block {
    margin-top: 3px;
    display: block;
    color: #999;
    line-height: 1;
    font-weight: 400;
}

#app .container .content:first-child .panel.login-form .form-group {
    margin-bottom: 25px;
}

.page-detail .left-aside, .page-detail .content {
    padding: 30px;
    position: relative;
}

.page-detail .content {
    padding-bottom: 100px;
}

.logo::after {
    content: ' ';
    height: 1px;
    width: 80px;
    background: #333333;
    display: block;
    margin: 0 auto;
}

.logo img {
    width: 165px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.guestbook .page-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.guestbook .add-feedback {
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    padding: .675rem .75rem;
    font-weight: 600;
}

.guestbook .content {
    background-color: #333333;
    min-height: 100%;
}

.guestbook .left-aside .welcome {
    font-size: 14px;
    margin-bottom: 20px;
}

.left-aside .user {
    margin-top: 205px;
    font-size: 14px;
}

.left-aside .user > div {
    line-height: 14px;
}

.left-aside .user a {
    color: #333;
    text-decoration: underline;
}

.left-aside h6 {
    font-size: 14px;
}

.content .message {
    color: #dddddd;
    padding: 30px;
}

.content .message p {
    margin-bottom: 7px;
    text-align: justify;
}

.content .message .author {
    font-family: CaveatBold, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.content .message .datetime {
    font-family: IBMPlexSans, sans-serif;
    color: #999999;
}

.content .message .message-bottom {
    position: relative;
}

.content .message .message-bottom .action {
    position: absolute;
}

.content .message .action {
    bottom: 10px;
    right: 0px;
}

.content .message .action a {
    display: inline-block;
    color: #dddddd;
    margin-left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #dc3545;
    text-decoration: none !important;
    padding: 8px;
    width: 32px;
    height: 32px;
}

.content .message .action a i {
    font-size: 16px;
}

.wrap-pagination {
    justify-content: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 15px;
}

.wrap-pagination .pagination {
    justify-content: center;
}

.wrap-pagination a {
    display: inline-block;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #dddddd;
    font-size: 22px;
    text-decoration: none !important;
}

.wrap-pagination a.normal {
    font-size: 18px;
    line-height: 22px;
}

.wrap-pagination a.active {
    background: #dc3545 !important;
}

.wrap-pagination a:not(.disabled):hover {
    background: #4c4c4c;
}

.wrap-pagination a.disabled {
    color: #646464;
}

.alert p {
    margin-bottom: 7px;
}
.alert p:last-child {
    margin-bottom: 0px;
}

.wrap-toast {
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 11111;
}

.toast {
    position: fixed;
    bottom: 50px;
    display: none;
}

.toast .toast-body {
    padding: 0;
}

.toast .toast-body .alert {
    margin: 0;
}

@media (max-width: 991px) {
    .left-aside .user {
        margin: 0;
        position: absolute;
        width: 100%;
        top: 20px;
        left: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .left-aside .user h6, .left-aside .user > div {
        display: inline;
    }

    .left-aside .user > div {
        float: right;
        font-size: 14px;
    }

    .guestbook .content {
        min-height: 300px;
    }
}



@media screen and (max-width: 374px) {
    #app .container .content:first-child .panel.login-form {
        width: 280px;
    }

    .content .message .message-bottom {
        margin-top: 15px;
    }
    .content .message .message-bottom .action {
        bottom: 22px;
        right: -25px;
    }
}